<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>

<body>
    <h1>TASK MANAGER FOR CRONIE</h1>
    <h2>Distribución linux: {{linux_distribution}}</h2>
    <h2>Cronie status: {{cronie_installet}}</h2>


    <select id="user_list">
        <option selected disabled>Elige un usuario</option>
        {% for user in user_list %}
        <option>{{user}}</option>
        {% endfor %}
    </select>
    <button id="update_table_btn">Actualizar tabla</button>

    <div id="status_update">

    </div>

    <table id="task_table" class="mi-tabla">
        <thead>
            <tr>
                <th id="minut">MINUTOS</th>
                <th id="hour">HORA</th>
                <th id="day">DÍA</th>
                <th id="month">MES</th>
                <th id="week_day">DÍA SEMANA</th>
                <th id="command">COMANDO</th>
                <th id="status">ACTIVADO</th>
            </tr>
        </thead>
        <tbody id="table_task_body">

        </tbody>

    </table>


</body>

</html>